* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-height: 100%;
    font-weight: normal;
    font: 16px/1.4 'Source Sans Pro', Arial, sans-serif;
}

a {
    list-style: none;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

/*head*/
.head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.97);
    z-index: 20;
}
.head__inner {
    display: flex;
    /*flex-flow: column wrap;*/
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 9px 10px;
}
.head__logo-color {
    display: inline-block;
    color: #540cfa;
}
.head__logo {
    display: inline-block;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    white-space: nowrap;
}
.head__nav {
}
.head__nav-list {
    display: flex;
    margin: 0 -30px;
}
.head__nav-item {
    display: inline-block;
    margin: 0 30px;
}
.head__nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.head__baton-login {

}
.head-login-form__link {
    margin-right: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 0 8px;
    color: #000;
}
.head-login-form__link:hover {
    color: #3d3d3d;
}
.head-login-form__button {
    color: #ffffff;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    max-width: 102px;
    padding: 6px 17px 8px 17px;
    font-weight: 600;
    font-size: 14px;
    background-color: #540cfa;
    box-shadow:  0 2px 4px 0 rgba(60, 9, 179, 0.3);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.head-login-form__button:hover{
    background-color: #9c09db;
}
.head-login-form__button:active {
    background-color: #8907c0;
}
/*head end*/

/*welcome-screen*/
.welcome-screen{
    padding: 135px 0 0;
    /*padding: calc(85px + 50px) 0 0;*/
}
.welcome-screen__inner{
    max-width: 1170px;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 9px 10px;
    display: flex;
    justify-content: space-between;


}
.welcome-screen__content{
    max-width: 570px;
    text-align: left;
    padding: 65px 0 0;
    flex: 1 1 0;
}

/*operat-systems*/
.welcome-screen__operat-systems-block{
    flex: 1 1 0;
    margin: 130px 0 0;
}
.welcome-screen__operat-systems-text{
    opacity: 0.3;
    font-size: 12px;
    font-weight: 600;


}
.welcome-screen__operat-systems-list{
    display:flex;
    flex-flow: row wrap;
    align-items: baseline;
    max-width: 471px;
    flex-basis: 471px;
    padding-top: 19px;
    margin: 0 -18px;

}
.welcome-screen__operat-systems-item-icon{
    margin: 0 18px;
}
.welcome-screen__operat-systems-img{
    opacity: 0.3;
    object-fit: cover;

}
/*operat-systems end*/

/*img-iphone-x-mockup*/
.welcome-screen__img-content{
    text-align: center;
    flex: 1 1 0;
}
.welcome-screen__img{}
/*img-iphone-x-mockup end*/





.welcome-screen__title{
    font-size: 70px;
    line-height: 1.03;
    font-weight: 900;
    margin: 0 0 20px;
    color: #000000;
}
.welcome-screen__text{
    max-width: 471px;
    box-sizing: border-box;
    font-size: 21px;
    color: #000000;
    line-height: 1.52;
    font-weight: 300;
    margin: 20px 0 30px;
}


/*welcome-screen end*/

/*section-form*/
.section-form{
    max-width: 450px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
}
.section-form__label{
    flex-grow: 1;
}
.section-form__input-title{
    display: block;
    position: absolute;
    left: 15px;
    top: 8px;
    color: #540cfa;
    font-size: 12px;
    font-weight: bold;
}
.section-form__input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 23px 0 10px 15px;
    font-size: 16px;
    background: none;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-right: none;

}
.section-form__input::placeholder{
    opacity: 0.3;
}
.section-form__input:focus{
    border-color: #540cfa;
}
.section-form__button{
    color: #ffffff;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    /*max-width: 141px;*/
    padding: 16px 22px 17px 21px;
    font-size: 16px;
    font-weight: bold;
    background-color: #540cfa;
    box-shadow:  0 2px 4px 0 rgba(60, 9, 179, 0.3);
    border-radius: 0 4px 4px 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.section-form__button:hover{
    background-color: #9c09db;
}
/*section-form end*/


/*features*/
.features{
    margin: 160px 0 140px;

}
.features__title-wrap{
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    text-align: center;
}
.features__text-medium{
    opacity: 0.8;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}
.features__title{
    font-size: 60px;
    font-weight: 900;
    line-height: 1.05;
    color: #000000;
    margin: 10px 0 30px;
}
.features__text{
    font-size: 21px;
    font-weight: 300;
    color: #000000;
    opacity: 0.8;
    margin: 0 0 80px 0;
}
.features__list{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 26% 26% 26%  ;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-columns: minmax(100px,300px)repeat(3, 1fr);*/
    align-items: center;
    justify-items: end;
    align-self: center;
    justify-self: center;

}
.features__item{
    /*align-self: center;*/
    /*justify-self: end;*/
    text-align: center;
}
.features__img {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
}

.features__img_violet-icon {
    background: linear-gradient(135deg, #9c09db, #1c0fd7);
}

.features__img_orange-icon {
    background: linear-gradient(135deg, #f2c314, #fc3832);
}

.features__img_blue-icon {
    background-image: linear-gradient(135deg, #32fbfc, #3214f2);
}

.features__img-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.features__caption{
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin: 14px 0 8px;
}
.features__text-small{
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    padding: 0 5px;
}
.features__link-features{
    position: relative;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #540cfa;
    line-height: 24px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
.features__link-features:before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #9c09db;
    height: 2px;
    width: 100%;
    transition: transform .3s linear;
    transform: translateX(-50%) scaleX(0);
}
.features__link-features:hover:before{
    transform:  translateX(-50%)scaleX(1);
}
/*features end*/


/*films-list*/
.films-list {
    overflow: hidden;
    /*overflow: scroll;*/
}

.films-list__tracks-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.films-list__item{
    border-radius: 6px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

}
.films-list__link{
    line-height: 1;

}
.films-list__img{
    object-fit: contain;

}
/*films-list end*/


/*cross-platform-interface*/
.cross-platform-interface{}
.cross-platform-interface__inner{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 9px 10px;
}
.cross-platform-interface__content{
    max-width: 570px;
    text-align: left;
}
.cross-platform-interface__title{
    font-size: 46px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 20px;
}
.cross-platform-interface__text{
    opacity: 0.8;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    max-width: 460px;
}

/*cross-platform-interface end*/


/*power-of-community*/
.power-of-community {
    /*background: #000;*/
}

.power-of-community__item {
    /*width: 260px;*/
    /*height: 172px;*/
    /*border-radius: 10px;*/
    /*background: rgba(255, 255, 255, 0.08);*/

}

/*power-of-community end*/

